<footer>
	<div class="org">
		<div class="org-container">
			<img src={{asset 'images/logo.png'}}>
			<div class="org-info">
				<h1>IEEE Student Branch</h1>
				<h2>University of California, Berkeley</h2>
			</div>
		</div>
		<div class="copyright">© Copyright 2020 IEEE Student Branch At UC Berkeley</div>
	</div>
	<div class="info">
		<div class="contact">
			<h1>Contact Us</h1>
			<p>2626 Hearst Avenue, 251 Cory Hall Berkeley, California 94720</p>
			<a href="mailto:ieee@berkeley.edu">ieee@berkeley.edu</a>
		</div>
		<div class="links">
			<h1>Links</h1>
			<a href="/faq">FAQ</a>
			<a href="/about">About Us</a>
			<a href="/checkin">Check-In</a>
			<a href="/sponsors">Sponsors</a>
			<a href="/officers">Execs &amp; Officers</a>
		</div> 
	</div>
</footer>