{{!< default}}
<main>
	{{#post}}
	<article>
		{{content}}
	</article>
	<div id="dw-home-features">
		<section class="left">
			<h1>STUDENT LEADERS</h1>
			<p>The UC Berkeley IEEE student branch was established in 1912 and has been one of the most active engineering student organizations on campus ever since. We aim to promote professional development, encourage academic growth, and organize social activities within the greater engineering community. We host various events to encourage professional development within the EECS and greater engineering community at Berkeley, ranging from company info-sessions, to research mixers, and resume workshops. Every semester, we compile a resume book that connects members with industry representatives.</p>
		</section>
		<section class="right">
			<h1>MENTORSHIP</h1>
			<p>IEEE also hosts two classes (HOPE, and micromouse) intended to provide students with practical hands on experience in the EE/CS field. HOPE teaches PCB design, which is essential for miniaturizing electronic circuits. Micromouse guides students as they design an entire robotics project from the ground up, building their hardware and software skills.In addition to our decals, we have a Mentor and Mentee program that pairs students together for individualized advice in topics including — but not limited to — courses, career choices, and great opportunities to take advantage of.</p>
		</section>
		<section class="left">
			<h1>BUILD A COMMUNITY</h1>
			<p>IEEE also hosts social events aimed at connecting the engineering community within Berkeley, these include board game nights, dinners, a ski retreat, and much more. We’re students, just like you! Come out and have fun with us; did we mention that many of the events are subsidized?</p>
		</section>
	</div>
	{{/post}}
</main>
