{{!< default}}

<main>
	{{#post}}
		<div class="hero">
			<h1>{{title}}</h1>
			<h2>{{excerpt}}</h2>
			<div id="scroll-btn">
				<div class="arrow"></div>
			</div>
		</div>
		<article>
			{{content}}
		</article>
		<div class="sponsor-container">
			<div class="sponsor-package">
				<h1>SPONSORSHIP PACKAGE</h1>
				<div class="iframe-container">
					<iframe></iframe>
				</div>
			</div>
			<div class="sponsor-section">
				<h1>OUR SPONSORS</h1>
				<div class="sponsor-list">
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
				</div>
			</div>
		</div>
	{{/post}}
</main>
