{{!< default}}

<main>
	{{#post}}
		<div class="hero hero-mini">
			<h1>{{title}}</h1>
		</div>
		<article>
			{{content}}
		</article>
		<div class="sponsor-container">
			<div class="sponsor-package">
				<h1>SPONSORSHIP PACKAGE</h1>
				<div class="iframe-container">
					<a href="{{asset 'files/sponsorship.pdf'}}">PDF</a>
				</div>
			</div>
			<div class="sponsor-section">
				<h1>OUR SPONSORS</h1>
				<div class="sponsor-list">
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
				</div>
			</div>
		</div>
	{{/post}}
</main>
