{{!< default}}

<main>
	{{#post}}
		<div class="hero">
			<h1>{{title}}</h1>
			<h2>{{excerpt}}</h2>
			<div id="scroll-btn">
				<div class="arrow"></div>			
			</div>
		</div>
		<section class="left">
			<h1>CONNECTING STUDENTS</h1>
			<p>IEEE is a leading authority on areas ranging from aerospace systems, computers and telecommunications to biomedical engineering, electric power and consumer electronics among others. As the local chapter of IEEE, we strive to provide a faucet of talent and skill to the industry. As one of the world’s leading engineering institutions, you can expect nothing but the best from UC Berkeley.</p>
		</section>
		<section class="right">
			<h1>INFOSESSIONS</h1>
			<p>In conjunction with the Electrical Engineering and Computer Science Department, UC Berkeley IEEE also co-hosts several recruiting and publicity Infosessions throughout the year. With typical attendances of over 60 people, our Infosessions are an effective means of reaching the EECS community. We publicize, staff, and acquire food for these events. All you bring is the presentation. Contact us to work out the logistics of holding an Infosession.</p>
		</section>
		<div class="sponsor-container">
			<div class="sponsor-package">
				<h1>SPONSORSHIP PACKAGE</h1>
				<div class="iframe-container">
					<iframe></iframe>					
				</div>
			</div>
			<div class="sponsor-section">
				<h1>OUR SPONSORS</h1>
				<div class="sponsor-list">
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
					<a href="/" target="_blank">
						<img src="/">
					</a>
				</div>												
			</div>
		</div>
	{{/post}}
</main>