{{!< default}}
<main>
	{{#post}}
		<div class="hero">
			<h1>{{title}}</h1>
			<!--
			<div id="scroll-btn">
				<div class="arrow"></div>
			</div>
		-->
		</div>
		<article>
			{{content}}
		</article>
	{{/post}}
</main>
