{{!< default}}
<main>
	{{#post}}
	<div class="hero">
		<h1>{{title}}</h1>
		<h2>{{excerpt}}</h2>
		<div id="scroll-btn">
			<div class="arrow"></div>			
		</div>
	</div>	
	<div class="committee">
		<h1>EXECUTIVES</h1>
		<div class="officers">
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>								
		</div>
	</div>
	<div class="committee">
		<h1>COMMITTEE</h1>
		<div class="officers">
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>								
		</div>
	</div>
	<div class="committee">
		<h1>COMMITTEE</h1>
		<div class="officers">
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>
			<div class="officer-card">
				<img src="/">
				<h1>Kevin Zheng</h1>
				<h2>SUPREME MONARCH</h2>
				<div class="socials">
					<a href="/" github></a>
					<a href="/" facebook></a>
					<a href="/" linkedin></a>					
				</div>
			</div>								
		</div>
	</div>
	{{/post}}
</main>