.post-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	.post-card {
		width: 400px;
		height: 250px;
		position: relative;
		margin: 30px;
		@include corner(30px, $blue);
		background-color: rgba($white, 0.3);
		transition: background-color 0.3s;
		text-decoration: none;
		&:hover {
			background-color: rgba($white, 0.4);
		}
		padding: 0 15px;
		img {
			margin-top: 0.83em;
			min-height: 150px;
			max-height: 150px;
			width: auto;
			object-fit: contain;
		}
		h1 {

		}
		h2 {
			time {

			}
		}
	}
}