.committee {
	margin: 80px auto;
	h1 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 60px;
		letter-spacing: 2px;
	}
	.officers {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.officer-card {
			position: relative;
			width: 200px;
			height: 280px;
			text-align: center;
			background-color: rgba($white, 0.4);
			@include css-box(before) {
				width: 100%;
				top: -30px;
				height: 15px;
				@include gradient(90deg, $blue);
			}

			img {
				background-color: $white;
				@include equal-set(125px, width, height);
				border-radius: 50%;
				margin-top: 20px;
				overflow: hidden;
			}
			h1 {
				font-size: 18px;
				margin: 10px auto;
			}
			h2 {
				letter-spacing: 2px;
			}
			.socials {
				display: flex;
                /* Makes Life Easier */
                [github] {

                }
                [facebook] {

                }
                [linkedin] {

                }
			}
		}
	}
}