@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);/** Icons */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letterboxd:before {
  content: "\E91F";
}

.icon-star:before {
  content: "\E900";
}

.icon-arrow-left:before {
  content: "\E901";
}

.icon-arrow-right:before {
  content: "\E902";
}

.icon-arrow-top:before {
  content: "\E903";
}

.icon-close:before {
  content: "\E904";
}

.icon-comments:before {
  content: "\E905";
}

.icon-facebook:before {
  content: "\E906";
}

.icon-globe:before {
  content: "\E907";
}

.icon-menu:before {
  content: "\E908";
}

.icon-more:before {
  content: "\E909";
}

.icon-search:before {
  content: "\E90A";
}

.icon-twitter:before {
  content: "\E90B";
}

.icon-behance:before {
  content: "\E951";
}

.icon-deviantart:before {
  content: "\E928";
}

.icon-discord:before {
  content: "\E929";
}

.icon-flickr:before {
  content: "\E91E";
}

.icon-github:before {
  content: "\E930";
}

.icon-gitlab:before {
  content: "\E92D";
}

.icon-imdb:before {
  content: "\E90C";
}

.icon-instagram:before {
  content: "\E92A";
}

.icon-linkedin:before {
  content: "\E92B";
}

.icon-mixcloud:before {
  content: "\E925";
}

.icon-mixer:before {
  content: "\E926";
}

.icon-odnoklassniki:before {
  content: "\E920";
}

.icon-pinterest:before {
  content: "\E921";
}

.icon-reddit:before {
  content: "\E919";
}

.icon-rss:before {
  content: "\E91A";
}

.icon-snapchat:before {
  content: "\E92C";
}

.icon-soundcloud:before {
  content: "\E91D";
}

.icon-spotify:before {
  content: "\E91B";
}

.icon-steam:before {
  content: "\E914";
}

.icon-telegram:before {
  content: "\E91C";
}

.icon-tiktok:before {
  content: "\E922";
}

.icon-tumblr:before {
  content: "\E923";
}

.icon-twitch:before {
  content: "\E915";
}

.icon-vimeo:before {
  content: "\E917";
}

.icon-vk:before {
  content: "\E90D";
}

.icon-wechat:before {
  content: "\E927";
}

.icon-whatsapp:before {
  content: "\E918";
}

.icon-xing:before {
  content: "\E924";
}

.icon-youtube:before {
  content: "\E916";
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FFFFFF;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

* {
  color: white;
  font-family: 'Open Sans', serif;
  font-weight: 400;
}

* {
  font-size: 16px;
}

@media screen and (min-width: 300px) {
  * {
    font-size: calc(16px + 2 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  * {
    font-size: 18px;
  }
}

b {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #1F2228;
  position: relative;
}

body header {
  flex-shrink: 0;
}

body main {
  flex: 1 0 auto;
}

body footer {
  flex-shrink: 0;
}

body[nav-active] {
  overflow: hidden;
}

body[nav-active] main {
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 10vw;
}

header .image-logo {
  height: 80%;
  z-index: 3;
}

header .image-logo img {
  height: 100%;
  z-index: 3;
}

header nav {
  display: flex;
}

header nav .hamburger {
  z-index: 3;
  border: none;
  outline: none;
  display: none;
}

@media only screen and (max-width: 800px) {
  header nav .hamburger {
    display: block;
  }
}

header nav .navigation {
  display: flex;
}

header nav .navigation a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
}

header nav .navigation a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s, max-width 0.3s;
  content: "";
  display: block;
  background-color: #FFFFFF;
  max-width: 0;
  width: 0;
  height: 1px;
  overflow: hidden;
  pointer-events: none;
}

header nav .navigation a:hover:after {
  max-width: 75%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  header nav .navigation {
    max-height: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: #1F2228;
    width: 100%;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  header nav .navigation a {
    padding: 10px;
  }
}

header nav.nav-social {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 3%;
  top: 4.5%;
}

header nav.nav-social a {
  text-decoration: none;
  padding-bottom: 5px;
}

body[nav-active] header nav .navigation {
  max-height: 40vh;
  padding-top: 90px;
}

footer {
  display: flex;
  padding: 20px 0;
}

footer .org {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .org .org-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

footer .org .org-container img {
  height: 40px;
  margin: 0 10px;
}

footer .org .org-container .org-info h1 {
  margin: 0;
  font-style: bold;
}

footer .org .org-container .org-info h1 {
  font-size: 20px;
}

@media screen and (min-width: 300px) {
  footer .org .org-container .org-info h1 {
    font-size: calc(20px + 10 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  footer .org .org-container .org-info h1 {
    font-size: 30px;
  }
}

footer .org .org-container .org-info h2 {
  margin: 0;
  margin-top: 4px;
}

footer .org .copyright {
  font-size: 12px;
}

footer .info {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

footer .info .contact {
  width: 40%;
}

footer .info .contact h1 {
  margin: 0;
}

footer .info .contact p {
  font-size: 14px;
  margin: 10px 0;
}

footer .info .contact a {
  font-size: 14px;
}

footer .info .links {
  width: 40%;
}

footer .info .links h1 {
  margin: 0;
  margin-bottom: 10px;
}

footer .info .links a {
  display: block;
  font-size: 14px;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  footer {
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
  }
  footer .org {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
  footer .info {
    width: 100%;
    order: 1;
  }
}

article {
  width: 72vw;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 400px) {
  article {
    width: 90vw;
  }
}

article .kg-image-card, article .kg-embed-card, article .kg-gallery-container, article .kg-bookmark-card {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.4);
  margin: 5vw auto;
}

article .kg-image-card:before, article .kg-image-card:after, article .kg-embed-card:before, article .kg-embed-card:after, article .kg-gallery-container:before, article .kg-gallery-container:after, article .kg-bookmark-card:before, article .kg-bookmark-card:after {
  width: 5vw;
  height: 5vw;
}

article .kg-image-card:before, article .kg-embed-card:before, article .kg-gallery-container:before, article .kg-bookmark-card:before {
  position: absolute;
  content: "";
  display: block;
  top: -2.25vw;
  left: -2.25vw;
  background: linear-gradient(45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
}

article .kg-image-card:after, article .kg-embed-card:after, article .kg-gallery-container:after, article .kg-bookmark-card:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -2.25vw;
  right: -2.25vw;
  background: linear-gradient(-45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
          clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
}

article .kg-image-card {
  width: 80%;
}

article .kg-image-card .kg-image {
  display: block;
  width: 100%;
}

article .kg-image-card.kg-width-wide {
  width: 90%;
}

article .kg-image-card.kg-width-full {
  width: 100%;
}

article .kg-embed-card iframe {
  width: 100%;
  height: calc(80vw * 0.55);
  display: block;
}

article .kg-gallery-container .kg-gallery-row {
  width: 100%;
  display: flex;
}

article .kg-gallery-container .kg-gallery-row .kg-gallery-image img {
  display: block;
  width: 100%;
  height: auto;
}

article .kg-bookmark-card img {
  display: block;
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

article .kg-bookmark-card .kg-bookmark-container {
  opacity: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content {
  opacity: 1;
  padding: 10px;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-title {
  opacity: 1;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-title {
  font-size: 15px;
}

@media screen and (min-width: 300px) {
  article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-title {
    font-size: calc(15px + 5 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-description {
    display: none;
  }
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-metadata {
  display: flex;
  align-items: center;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-metadata .kg-bookmark-icon {
  padding: 10px;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-metadata .kg-bookmark-author {
  padding: 10px;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-content .kg-bookmark-metadata .kg-bookmark-publisher {
  padding: 10px;
}

article .kg-bookmark-card .kg-bookmark-container .kg-bookmark-thumbnail {
  height: 25vw;
  max-height: 200px;
  flex-shrink: 0;
}

article h1, article h2, article h3, article h4, article h5 {
  text-align: center;
  margin: 0.4em auto;
}

article h1 {
  padding: 5px 25px;
  background: linear-gradient(90deg, #00A6D6, #005770);
  display: inline-block;
  margin: 0.4em auto;
}

article h1 {
  font-size: 30px;
}

@media screen and (min-width: 300px) {
  article h1 {
    font-size: calc(30px + 20 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article h1 {
    font-size: 50px;
  }
}

article h2 {
  letter-spacing: 3px;
}

article h2 {
  font-size: 30px;
}

@media screen and (min-width: 300px) {
  article h2 {
    font-size: calc(30px + 20 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article h2 {
    font-size: 50px;
  }
}

article h3 {
  letter-spacing: 3px;
}

article h3 {
  font-size: 28px;
}

@media screen and (min-width: 300px) {
  article h3 {
    font-size: calc(28px + 17 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article h3 {
    font-size: 45px;
  }
}

article h4 {
  letter-spacing: 3px;
}

article h4 {
  font-size: 26px;
}

@media screen and (min-width: 300px) {
  article h4 {
    font-size: calc(26px + 14 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article h4 {
    font-size: 40px;
  }
}

article h5 {
  letter-spacing: 3px;
}

article h5 {
  font-size: 25px;
}

@media screen and (min-width: 300px) {
  article h5 {
    font-size: calc(25px + 10 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article h5 {
    font-size: 35px;
  }
}

article p {
  margin: 0.5em 0;
}

article p {
  font-size: 16px;
}

@media screen and (min-width: 300px) {
  article p {
    font-size: calc(16px + 2 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  article p {
    font-size: 18px;
  }
}

article a:not(.kg-bookmark-container) {
  padding: 0 10px;
  background-color: #00A6D6;
  border-radius: 5px;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

article a:not(.kg-bookmark-container):hover {
  background-color: white;
  color: #00A6D6;
}

article ul {
  margin: 0 0;
}

article ol {
  margin: 0 0;
}

article blockquote {
  position: relative;
  margin: 1em 60px;
}

article blockquote:before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 8px;
  top: 0;
  left: -20px;
  background: linear-gradient(90deg, #00A6D6, #005770);
}

.hero {
  text-align: center;
  height: calc(100vh - 70px - 75px - 20px);
  position: relative;
  overflow: hidden;
}

.hero h1 {
  margin-top: 75px;
}

.hero h1 {
  font-size: 40px;
}

@media screen and (min-width: 300px) {
  .hero h1 {
    font-size: calc(40px + 10 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  .hero h1 {
    font-size: 50px;
  }
}

.hero h2 {
  font-weight: 200;
  padding: 0 20px;
}

.hero h2 {
  font-size: 35px;
}

@media screen and (min-width: 300px) {
  .hero h2 {
    font-size: calc(35px + 5 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  .hero h2 {
    font-size: 40px;
  }
}

.hero .org-name, .hero .org-description, .hero .org-age {
  text-align: center;
  letter-spacing: 5px;
}

.hero .org-name {
  margin-top: 75px;
}

.hero .org-name {
  font-size: 40px;
}

@media screen and (min-width: 300px) {
  .hero .org-name {
    font-size: calc(40px + 10 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  .hero .org-name {
    font-size: 50px;
  }
}

.hero .org-description {
  margin: 60px auto;
}

.hero .org-description {
  font-size: 35px;
}

@media screen and (min-width: 300px) {
  .hero .org-description {
    font-size: calc(35px + 5 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  .hero .org-description {
    font-size: 40px;
  }
}

.hero .org-age {
  font-size: 20px;
}

#background-doodle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#background-doodle .row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#background-doodle .row img {
  width: 40vmax;
  height: 50vmax;
  -o-object-fit: contain;
     object-fit: contain;
}

#background-doodle .row img:nth-child(1) {
  transform: translateX(-5vmax);
}

#background-doodle .row img:nth-child(2) {
  transform: translateX(5vmax);
}

#background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

#background-shapes img {
  position: absolute;
  width: 12vw;
  height: 12vw;
  -o-object-fit: contain;
     object-fit: contain;
}

section {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  padding: 10px 30px;
  margin: 100px auto;
}

section {
  max-width: 70vw;
}

@media screen and (min-width: 300vw) {
  section {
    max-width: calc(70vw + -30 * ((100vw - 300vw) / 1235));
  }
}

@media screen and (min-width: 1535vw) {
  section {
    max-width: 40vw;
  }
}

section h1 {
  margin: 0;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

section h1 {
  font-size: 25px;
}

@media screen and (min-width: 300px) {
  section h1 {
    font-size: calc(25px + 10 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  section h1 {
    font-size: 35px;
  }
}

section p {
  margin: 0;
  margin-bottom: 30px;
}

section .btn {
  position: absolute;
  padding: 10px 25px;
  background: linear-gradient(90deg, #00A6D6, #005770);
  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;
  transition: color 0.3s;
  display: block;
}

section.left {
  margin-right: auto;
  text-align: left;
}

section.left {
  margin-left: 25px;
}

@media screen and (min-width: 300px) {
  section.left {
    margin-left: calc(25px + 95 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  section.left {
    margin-left: 120px;
  }
}

section.left .btn {
  right: 20px;
}

section.left:before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 16px;
  top: 0;
  left: -32px;
  background: linear-gradient(90deg, #00A6D6, #005770);
}

section.right {
  margin-left: auto;
  text-align: right;
}

section.right {
  margin-right: 25px;
}

@media screen and (min-width: 300px) {
  section.right {
    margin-right: calc(25px + 95 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  section.right {
    margin-right: 120px;
  }
}

section.right .btn {
  left: 20px;
}

section.right:before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 16px;
  top: 0;
  right: -32px;
  background: linear-gradient(90deg, #00A6D6, #005770);
}

#scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 -20px 0 rgba(255, 255, 255, 0.4));
  cursor: pointer;
}

#scroll-btn {
  bottom: 20px;
}

@media screen and (min-width: 300px) {
  #scroll-btn {
    bottom: calc(20px + 80 * ((100vw - 300px) / 1235));
  }
}

@media screen and (min-width: 1535px) {
  #scroll-btn {
    bottom: 100px;
  }
}

#scroll-btn .arrow {
  display: block;
  width: 80px;
  height: 100px;
  background-color: white;
  margin: 0 auto;
  cursor: pointer;
  -webkit-clip-path: polygon(0 80%, 50% 95%, 100% 80%, 100% 85%, 50% 100%, 0 85%);
          clip-path: polygon(0 80%, 50% 95%, 100% 80%, 100% 85%, 50% 100%, 0 85%);
  -webkit-animation: inline-uf3963874 1s infinite alternate;
          animation: inline-uf3963874 1s infinite alternate;
}

@-webkit-keyframes inline-uf3963874 {
  from {
    opacity: 1;
    transform: translateY(5px);
  }
  to {
    opacity: 0.7;
  }
}

@keyframes inline-uf3963874 {
  from {
    opacity: 1;
    transform: translateY(5px);
  }
  to {
    opacity: 0.7;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1d2025;
}

::-webkit-scrollbar-thumb {
  background: #0092bd;
}

::-webkit-scrollbar-thumb:hover {
  background: #007ea3;
}

#slide-show {
  display: flex;
  height: 375px;
  justify-content: center;
}

#slide-show .btn {
  height: 100%;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
}

#slide-show .btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#slide-show .btn .arrow {
  display: block;
  width: 50px;
  height: 70px;
  background-color: white;
  margin: 0 auto;
  cursor: pointer;
  -webkit-clip-path: polygon(0 80%, 50% 95%, 100% 80%, 100% 85%, 50% 100%, 0 85%);
          clip-path: polygon(0 80%, 50% 95%, 100% 80%, 100% 85%, 50% 100%, 0 85%);
  pointer-events: none;
}

#slide-show .btn#fwd-btn .arrow {
  margin-left: 50px;
  -webkit-animation: inline-u29a8805a 1s infinite alternate;
          animation: inline-u29a8805a 1s infinite alternate;
}

@-webkit-keyframes inline-u29a8805a {
  from {
    opacity: 1;
    transform: translateX(5px) rotate(90deg);
  }
  to {
    opacity: 0.7;
    transform: translateX(0) rotate(90deg);
  }
}

@keyframes inline-u29a8805a {
  from {
    opacity: 1;
    transform: translateX(5px) rotate(90deg);
  }
  to {
    opacity: 0.7;
    transform: translateX(0) rotate(90deg);
  }
}

#slide-show .btn#bkw-btn .arrow {
  margin-right: 50px;
  -webkit-animation: inline-uaa95a27d 1s infinite alternate;
          animation: inline-uaa95a27d 1s infinite alternate;
}

@-webkit-keyframes inline-uaa95a27d {
  from {
    opacity: 1;
    transform: translateX(-5px) rotate(-90deg);
  }
  to {
    opacity: 0.7;
    transform: translateX(0) rotate(-90deg);
  }
}

@keyframes inline-uaa95a27d {
  from {
    opacity: 1;
    transform: translateX(-5px) rotate(-90deg);
  }
  to {
    opacity: 0.7;
    transform: translateX(0) rotate(-90deg);
  }
}

#slide-show .image-container {
  width: 600px;
  height: 100%;
  position: relative;
}

#slide-show .image-container:before, #slide-show .image-container:after {
  width: 60px;
  height: 60px;
}

#slide-show .image-container:before {
  position: absolute;
  content: "";
  display: block;
  top: -27px;
  left: -27px;
  background: linear-gradient(45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
}

#slide-show .image-container:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -27px;
  right: -27px;
  background: linear-gradient(-45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
          clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
}

#slide-show .image-container .image-list {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#slide-show .image-container .image-list img {
  flex-shrink: 0;
  display: inline;
  height: 100%;
  width: 100%;
}

main .title, main #slide-caption {
  letter-spacing: 3px;
  font-size: 40px;
  text-align: center;
}

main #slide-caption {
  margin-bottom: 100px;
}

.committee {
  margin: 80px auto;
}

.committee h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.committee .officers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.committee .officers .officer-card {
  position: relative;
  width: 200px;
  height: 280px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.committee .officers .officer-card:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  top: -30px;
  height: 15px;
  background: linear-gradient(90deg, #00A6D6, #005770);
}

.committee .officers .officer-card img {
  background-color: #FFFFFF;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 20px;
  overflow: hidden;
}

.committee .officers .officer-card h1 {
  font-size: 18px;
  margin: 10px auto;
}

.committee .officers .officer-card h2 {
  letter-spacing: 2px;
}

.committee .officers .officer-card .socials {
  display: flex;
  /* Makes Life Easier */
}

.sponsor-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.sponsor-container h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.sponsor-container .sponsor-package {
  text-align: center;
  width: 50%;
}

.sponsor-container .sponsor-package .iframe-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.sponsor-container .sponsor-package .iframe-container:before, .sponsor-container .sponsor-package .iframe-container:after {
  width: 40px;
  height: 40px;
}

.sponsor-container .sponsor-package .iframe-container:before {
  position: absolute;
  content: "";
  display: block;
  top: -18px;
  left: -18px;
  background: linear-gradient(45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
}

.sponsor-container .sponsor-package .iframe-container:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -18px;
  right: -18px;
  background: linear-gradient(-45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
          clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
}

.sponsor-container .sponsor-package .iframe-container iframe {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}

.sponsor-container .sponsor-section {
  text-align: center;
  width: 50%;
}

.sponsor-container .sponsor-section .sponsor-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-list .post-card {
  width: 400px;
  height: 250px;
  position: relative;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s;
  text-decoration: none;
  padding: 0 15px;
}

.post-list .post-card:before, .post-list .post-card:after {
  width: 30px;
  height: 30px;
}

.post-list .post-card:before {
  position: absolute;
  content: "";
  display: block;
  top: -13.5px;
  left: -13.5px;
  background: linear-gradient(45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 15% 15%, 15% 100%, 0 100%);
}

.post-list .post-card:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -13.5px;
  right: -13.5px;
  background: linear-gradient(-45deg, #00A6D6, #005770);
  -webkit-clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
          clip-path: polygon(85% 85%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 85%);
}

.post-list .post-card:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.post-list .post-card img {
  margin-top: 0.83em;
  min-height: 150px;
  max-height: 150px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
