/** Icons */

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-letterboxd:before {
  content: "\e902";
}
.icon-star:before {
  content: "\907";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-top:before {
  content: "\ea3a";
}
.icon-close:before {
  content: "\e903";
}
.icon-comments:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
  padding: 4px;
  border-radius: 50%;
  border: white solid 1.5px;
}
.icon-globe:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-more:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e986";
}
.icon-twitter:before {
  content: "\ea96";
  padding: 4px;
  border-radius: 50%;
  border: white solid 1.5px;
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-deviantart:before {
  content: "\eaaa";
}
.icon-discord:before {
  content: "\e905";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-github:before {
  content: "\eab0";
}
.icon-gitlab:before {
  content: "\e909";
}
.icon-imdb:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\ea92";
  padding: 4px;
  border-radius: 50%;
  border: white solid 1.5px;
}
.icon-linkedin:before {
  content: "\eaca";
  padding: 4px;
  border-radius: 50%;
  border: white solid 1.5px;
}
.icon-mixcloud:before {
  content: "\e90b";
}
.icon-mixer:before {
  content: "\e904";
}
.icon-odnoklassniki:before {
  content: "\e901";
}
.icon-pinterest:before {
  content: "\ead2";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-snapchat:before {
  content: "\e90e";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-tiktok:before {
  content: "\e906";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo:before {
  content: "\eaa0";
}
/*
.icon-vk:before {
  content: "\e90d";
}
.icon-wechat:before {
  content: "\e927";
}
*/
.icon-whatsapp:before {
  content: "\ea93";
}

.icon-xing:before {
  content: "\e90d";
}
.icon-youtube:before {
  content: "\ea9d";
}
