$white: #FFFFFF;
$black: #1F2228;
$blue: #00A6D6;
$nav-break: 800px;

$hamburger-layer-color: $white;
$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');