article {
    width: 960px;

    @include screen-less(400px) {
        width: 90vw;
    }

    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .kg-image-card, .kg-embed-card, .kg-gallery-container, .kg-bookmark-card {
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        position: relative;
        // @include corner(60px, $blue);
        @include corner(5vw, $blue);
        border: 2px solid rgba($white, 0.4);
        // margin: 60px auto;
        margin: 5vw auto;
    }

    .kg-image-card {
        width: 80%;
        // width: 80vw * 0.8;
        height: auto;
        object-fit: contain;
        .kg-image {
            display: block;
            width: 100%;
						height: auto;
        }

        &.kg-width-wide {
            // width: 80vw * 0.9;
            width: 90%;
        }

        &.kg-width-full {
            // width: 80vw;
            width: 100%;
        }
    }

    .kg-embed-card {
        iframe {
            width: 100%;
            height: calc(80vw * 0.55);
            display: block;
        }
    }

    .kg-gallery-container {
        .kg-gallery-row {
            width: 100%;
            display: flex;

            .kg-gallery-image {
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .kg-bookmark-card {

        img {
            display: block;
            width: auto;
            height: 100%;
            object-fit: contain;
        }

        .kg-bookmark-container {
            opacity: 1;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 10px;

            .kg-bookmark-content {
                opacity: 1;
                padding: 10px;

                .kg-bookmark-title {
                    // font-size: 20px;
                    @include fluid-type(300, 1535, 15, 20, px);
                    opacity: 1;
                }

                .kg-bookmark-description {
                    @include screen-less(700px) {
                        display: none;
                    }
                    // opacity: 1;
                }

                .kg-bookmark-metadata {
                    display: flex;
                    align-items: center;

                    .kg-bookmark-icon {
                        padding: 10px;
                    }

                    .kg-bookmark-author {
                        padding: 10px;
                    }

                    .kg-bookmark-publisher {
                        padding: 10px;
                    }
                }
            }

            .kg-bookmark-thumbnail {
                // height: 100%;
                height: 25vw;
                max-height: 200px;
                flex-shrink: 0;
            }
        }
    }

    h1, h2, h3, h4, h5 {
        font-weight: 700;
        text-align: center;
        margin: 0.4em auto;
    }

    h1 {
        // font-size: 50px;
        @include fluid-type(300, 1535, 30, 50, px);
        padding: 5px 25px;
        @include gradient(90deg, $blue);
        display: inline-block;
        margin: 0.4em auto;
    }

    h2 {
        // font-size: 50px;
        @include fluid-type(300, 1535, 30, 40, px);
        // letter-spacing: 3px;
    }

    h3 {
        // font-size: 45px;
        @include fluid-type(300, 1535, 28, 40, px);
        letter-spacing: 3px;
    }

    h4 {
        // font-size: 40px;
        @include fluid-type(300, 1535, 26, 40, px);
        letter-spacing: 3px;
    }

    h5 {
        // font-size: 35px;
        @include fluid-type(300, 1535, 25, 35, px);
        letter-spacing: 3px;
    }

    table {
        @include fluid-type(300, 1535, 16, 18, px);
        margin: 0.5em 0;
        border-collapse: collapse;
        tr {
            background-color: #464866;
            color: #FFF;
            th{
                background-color: #25274d;
                font-weight: bold;
                text-align: center;
                padding: 15px;
            }
            td {
                text-align: left;
                padding: 15px;
            }
        }
        tr:nth-of-type(2n) {
            background-color: #54567a;
        }
    }

    p {
        // font-size: 18px;
        @include fluid-type(300, 1535, 16, 18, px);
        margin: 0.5em 0;
    }

    div:not(.ieee-officer-card) > p {
        text-shadow: 2px 2px 2px black;
    }

    a:not(.kg-bookmark-container) {
        //padding: 0 10px;
        background: none;
        border: 0;
        color: $blue;
        border-radius: 0;
        text-decoration: none;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
            background: none;
            color: $white;
        }
    }

    ul, ol {
        margin: 0;
    }

    blockquote {
        position: relative;
        margin: 1em 60px;

        @include css-box(before) {
            height: 100%;
            width: 8px;
            top: 0;
            left: -20px;
            @include gradient(90deg, $blue);
        }
    }
}
