header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 3;
	transition: background-color 0.5s, box-shadow 0.5s;
	.image-logo {
		height: 80%;
		z-index: 3;
		img {
			height: 100%;
			z-index: 3;
		}
	}
	height: 90px;
	padding: 10px 10vw;
	nav {
		display: flex;
		.hamburger {
			z-index: 3;
			@include equal-set(none, border, outline, display);
			@include screen-less($nav-break) {
				display: block;
			}
		}
		.navigation {
			display: flex;
			a {
				text-decoration: none;
				cursor: pointer;
				position: relative;
				padding: 5px;
				margin: 0 10px;
				font-size: 16px;
				@include underline($white, 1px, 75%, 0.3s);
			}

			@include screen-less($nav-break) {
				max-height: 0;
				padding-top: 0;
				display: flex;
				flex-direction: column;
				position: fixed;
				// top: 90px;
				left: 0;
				// padding-top: 90px;
				background-color: $black;
				width: 100%;
				align-items: center;
				z-index: 2;
				a {
					padding: 10px;
				}
				overflow: hidden;
				transition: max-height 0.5s;



				// display: none;
				// overflow: hidden;
				// transition: max-height 1s;
				// max-height: 0;
				// &[reveal] {
				// display: block;
				// display: flex;
				// flex-direction: column;
				// position: fixed;
				// top: 0;
				// left: 0;
				// padding-top: 90px;
				// background-color: $black;
				// width: 100%;
				// align-items: center;
				// z-index: 2;
				// a {
				// 	padding: 10px;
				// }
				// }
			}
		}
	}
	nav.nav-social {
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 1.5%;
		top: 11%;
		z-index: 1;
		a {
			text-decoration: none;
			padding-bottom: 20px;
		}
		@include screen-less(1000px) {
				right: 0.25%;
		}
		@include screen-less($nav-break) {
			max-height: 0;
			display: flex;
			flex-direction: row;
			position: fixed;
			top: 10%;
			// padding-top: 90px;
			left: 35%;
			right: 70%;
			background-color: $black;
			width: 100%;
			z-index: 2;
			a {
				padding-top: 5px;
				padding-right: 5%;
			}
			overflow: hidden;
			transition: max-height 0.5s;
		}
		@include screen-less(600px) {
			left: 32%;
		}
	}
	&[scroll] {
		background-color: rgba(black, 0.9);
		box-shadow: 4px 4px 4px rgba(black, 0.8);
	}
}

body[nav-active] {
	header {
		nav {
			.navigation {
				max-height: 40vh;
				padding-top: 90px;
				// max-height: 40vh;
				// display: flex;
				// flex-direction: column;
				// position: fixed;
				// top: 0;
				// left: 0;
				// padding-top: 90px;
				// background-color: $black;
				// width: 100%;
				// align-items: center;
				// z-index: 2;
				// a {
				// 	padding: 10px;
				// }
			}
		}
		nav.nav-social {
			max-height: 50px;

		}
	}
}
